@page
@using portfolio.Models
@model PrivacyModel
@{
    ViewData["Title"] = "Projects";
}

@* <h4 id="stack-header">Stack</h4> *@
<div class="stack">
    @foreach(Image image in Model.images)
    {
        <div class="tech">
            <img src="data:image/png;base64,@(Convert.ToBase64String(@image.image))" alt="@image.title logo" class="logo">
            <p>@image.title</p>
        </div>
    }
</div>

<div class="projects">
    @foreach(Project project in Model.projects)
    {
        <div class="project">
            <p class="project-title">@project.name</p>
            <p class="project-desc">@project.description</p>
            <p>language: @project.language</p>
            <p>last updated: @project.updated_at</p>
            <a href="@project.html_url" target="_blank" rel="noopener noreferrer">Source Code</a>
        </div>
    }
</div>
